[Unit]
Description=redshift needs to get a (geo)clue
Wants=networkd-wait-online.service
After=networkd-wait-online.service

[Service]
ExecStart=/usr/lib/geoclue-2.0/demos/agent
