[Unit]
Description=NZXT AIO + Lighting Service

[Service]
Type=oneshot

# Pump
ExecStart=liquidctl --match kraken set pump speed 20 30  24 70  27 100

# Lighting
ExecStart=liquidctl --match kraken set ring color off
ExecStart=liquidctl --match kraken set logo color off

[Install]
WantedBy=default.target
