[Unit]
Description=OpenRGB control

[Service]
Type=oneshot
ExecStart=sudo /usr/bin/openrgb -p off.orp
WorkingDirectory=/root/.config/OpenRGB
User=root
Group=i2c

[Install]
WantedBy=multi-user.target
