---
- hosts: 127.0.0.1
  connection: local
  vars:
    laptop: "{{ lookup('env', 'LAPTOP', default='false') | bool }}"
    vm: "{{ lookup('env', 'VM_TEST', default='false') | bool }}"
  tasks:
    - name: Install replacement packages
      pacman:
        name:
          - eza
        state: present
      become: true
    - name: Install laptop-specific Pacman packages
      pacman:
        name:
          - acpilight
          - fprint
          - intel-media-driver
          - intel-ucode
          - sof-firmware
          - tlp
        state: present
      become: true
      when:
        - laptop
        - not vm
    - name: Install desktop-specific Pacman packages
      pacman:
        name:
          - amd-ucode
          - liquidctl
          - vulkan-radeon
          - xf86-video-amdgpu
        state: present
      when:
        - not laptop
        - not vm
      become: true
    - name: Install Pacman packages
      pacman:
        name: "{{ lookup('file', '../setup/pacman').splitlines() }}"
        state: present
      become: true
    - name: /etc/X11/xorg.conf.d
      file:
        path: /etc/X11/xorg.conf.d
        owner: root
        group: root
        mode: "0755"
        state: directory
      become: true
    - name: Ensure group "video" exists
      ansible.builtin.group:
        name: video
        state: present
    - name: Add self to video group
      ansible.builtin.user:
        name: "{{ ansible_facts.user_id }}"
        groups: video
        append: yes
      become: true
    - name: Backlight configuration
      template:
        src: ./templates/udev/rules.d/90-backlight.rules
        dest: /etc/udev/rules.d/90-backlight.rules
        owner: root
        group: root
        mode: "0644"
      become: true
      when:
        - laptop
        - not vm
    - name: AMD Graphics Configuration
      template:
        src: ./templates/X11/xorg.conf.d/10-amdgpu.conf
        dest: /etc/X11/xorg.conf.d/10-amdgpu.conf
        owner: root
        group: root
        mode: "0644"
      become: true
      when:
        - not laptop
        - not vm
    - name: Intel graphics configuration
      template:
        src: ./templates/X11/xorg.conf.d/10-intelgpu.conf
        dest: /etc/X11/xorg.conf.d/10-intelgpu.conf
        owner: root
        group: root
        mode: "0644"
      become: true
      when:
        - laptop
    - name: Mouse/trackpad configuration
      template:
        src: ./templates/X11/xorg.conf.d/20-mouse.conf
        dest: /etc/X11/xorg.conf.d/20-mouse.conf
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: Keyboard configuration
      template:
        src: ./templates/X11/xorg.conf.d/30-keyboard.conf
        dest: /etc/X11/xorg.conf.d/30-keyboard.conf
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: /etc/systemd/system/getty@tty1.service.d
      file:
        path: /etc/systemd/system/getty@tty1.service.d
        owner: root
        group: root
        mode: "0755"
        state: directory
      become: true
    - name: Auto login configuration
      template:
        src: ./templates/systemd/system/getty@tty1.service.d/override.conf
        dest: /etc/systemd/system/getty@tty1.service.d/override.conf
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: Liquid cooler configuration file
      template:
        src: ./templates/systemd/system/liquidcfg.service
        dest: /etc/systemd/system/liquidcfg.service
        owner: root
        group: root
        mode: "0644"
      become: true
      when:
        - not laptop
        - not vm
    - name: Reload systemd
      systemd:
        daemon_reload: true
      become: true
    - name: Snapper btrfs snapshot cleanup service
      service:
        name: snapper-cleanup.timer
        enabled: true
      become: true
      tags:
        - snapper
    - name: Liquid cooler configuration service
      service:
        name: liquidcfg
        state: started
        enabled: true
      become: true
      when:
        - not laptop
        - not vm
    - name: Start & enable pipewire-pulse
      service:
        name: pipewire-pulse
        state: started
        enabled: true
        scope: user
    - name: Start & enable systemd-networkd
      service:
        name: systemd-networkd
        state: started
        enabled: true
      become: true
    - name: Start & enable systemd-resolved
      service:
        name: systemd-resolved
        state: started
        enabled: true
      become: true
    - name: Use systemd-resolved DNS config stub
      file:
        src: /run/systemd/resolve/stub-resolv.conf
        dest: /etc/resolv.conf
        owner: root
        group: root
        state: link
      become: true
    - name: Create resolved.conf.d directory
      file:
        path: /etc/systemd/resolved.conf.d
        state: directory
        mode: "0755"
      become: true
    - name: Fallback DNS configuration
      template:
        src: ./templates/systemd/resolved.conf.d/fallback_dns.conf
        dest: /etc/systemd/resolved.conf.d/fallback_dns.conf
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: Create systemd/network directory
      file:
        path: /etc/systemd/network
        state: directory
        mode: "0755"
      become: true
    - name: Remove old Wired network config
      ansible.builtin.file:
        path: /etc/systemd/network/20-wired.network
        state: absent
      become: true
    - name: Network configuration
      template:
        src: ./templates/systemd/network/20-dhcp.network
        dest: /etc/systemd/network/20-dhcp.network
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: Network online wait configuration
      lineinfile:
        path: /etc/systemd/system/network-online.target.wants/systemd-networkd-wait-online.service
        regexp: "^ExecStart="
        line: "ExecStart=/usr/lib/systemd/systemd-networkd-wait-online --any"
      become: true
    - name: Create iwd directory
      file:
        path: /etc/iwd
        state: directory
        mode: "0755"
      become: true
    - name: Wireless network configuration
      template:
        src: ./templates/iwd/main.conf
        dest: /etc/iwd/main.conf
        owner: root
        group: root
        mode: "0644"
      become: true
    - name: Start & enable iwd
      service:
        name: iwd
        state: started
        enabled: true
      become: true
      when: not vm
    - name: Configure timesyncd
      blockinfile:
        insertafter: "[Time]"
        path: "/etc/systemd/timesyncd.conf"
        mode: "0644"
        block: |
          NTP=au.pool.ntp.org
          FallbackNTP=0.arch.pool.ntp.org 1.arch.pool.ntp.org 2.arch.pool.ntp.org 3.arch.pool.ntp.org
      become: true
    - name: Start & enable timesyncd
      service:
        name: systemd-timesyncd
        state: started
        enabled: true
      become: true
    - name: Reload systemd user
      systemd:
        daemon_reload: true
        scope: user
    - name: Allow fingerprint auth for desired actions
      blockinfile:
        insertafter: "#"
        path: "/etc/pam.d/{{ item }}"
        block: |
          auth sufficient pam_unix.so try_first_pass likeauth nullok
          auth sufficient pam_fprintd.so
      become: true
      loop:
        - sudo
        - login
        - i3lock
      when:
        - laptop
        - not vm
    - name: Set mkinitcpio hooks
      lineinfile:
        path: /etc/mkinitcpio.conf
        regexp: '^HOOKS=\('
        line: "HOOKS=(base systemd autodetect microcode modconf keyboard sd-vconsole block sd-encrypt filesystems fsck)"
      become: true
      register: mkinitcpio_conf
    - name: Remove microcode initrd
      lineinfile:
        path: /boot/loader/entries/arch.conf
        regexp: "^initrd  /.*-ucode.img"
        state: absent
      become: true
    - name: Run mkinitcpio
      ansible.builtin.shell: mkinitcpio -P
      become: true
      when: mkinitcpio_conf.changed
    - name: Remove asdf configuration
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - ~/.asdf
        - ~/.tool-versions
    - name: /etc/snapper/configs
      file:
        path: /etc/snapper/configs
        owner: root
        group: root
        mode: "0755"
        state: directory
      become: true
      tags:
        - snapper
    - name: Snapper configurations
      template:
        src: ./templates/snapper/config.conf
        dest: "/etc/snapper/configs/{{ config_filename }}"
        owner: root
        group: root
        mode: "0640" # matches what Snapper creates by default
      vars:
        subvolume: "{{ item }}"
        config_filename: "{{'root' if (item == '/') else item}}"
      loop:
        - /
        - /var
      become: true
      tags:
        - snapper
